<h1>Home Page</h1>





<form>
  <input type='text' placeholder="Name" class='name'>
  <input type='text' placeholder="Street Address" class='street Address'>
  <input type='text' placeholder="City" class='city'>
  <input type='text' placeholder="Province" class='province'>
  <input type='text' placeholder="Postal Code" class='postal_code'>
  <input type='text' placeholder="Phone" class='phone'>
  <button id="button">Add to Contacts!</button>
</form>


